extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-md-8
      form(action="", method="get", role="form")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="name") User name
          .col-12.col-sm-10
            input#name.form-control(name="name")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="password") Password
          .col-12.col-sm-10
            input#password.form-control(name="password")         
        button.btn.btn-primary.float-right Login
    .col-6.col-md-4
